*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  gap: 10px;
}
li {
  list-style: none;
  padding: 15px 10px;
  border-radius: 15px;
  background-color: #eee;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
p {
  margin: 0;
  display: block;
}
i {
  color: red;
}
.fa-pencil {
  color: blue;
}
.complate {
  opacity: 0.5;
}
.button-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
